.body {
    color: black;
    background-color: white;
    transition: all 1s ease;
}

.body-night-mode {
    color: white;
    background-color: #373737;
}

.conteiner{
    background-color: #d3d3d3;
    margin: auto;
    height: 100px;
    display: flex;
    border-radius: 30px;
    border: 1px solid #808080;
    flex-direction: row;
    font-weight: normal;
    justify-content: space-between;
}

.title {
    height: 100px;
    margin-left: 50px;
    margin-top: 7px;
    display: flex;
}

.logo{
    height:80px;  
}

.title-name{
    color: #cc00ad;
    font-family: 'Source Code Pro', monospace;
    font-size: 60px;
    font-style: italic;
    align-self: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.navigation{
    align-self: center;
}

.navigation-content{
    margin-top: 35px;
    margin-right: 80px;
    list-style-type: none;
    display: flex;
    gap: 50px;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    align-self: center;
}

.registration{
    color: #cc00ad;
    text-decoration: none;
}

.login{
    color: white;
    background-color: #cc00ad;
    text-decoration: none;
}

.login:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.day-and-night{
    background-color: #d3d3d3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: none;
    cursor: pointer;
}

.day-night{
    height: 40px;
}

.main-conteiner-fuctions{
    margin-top: 60px;
    margin-bottom: 30px;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    position: absolute;
    list-style-type: none;
}

.function-button{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
    width: 400px;
    height: 80px;
    background-color: #cc00ad;
    border-radius: 30px;
    font-size: 40px;
    color: white;
    border: none;
    cursor: pointer;
}

.function-button:hover{
    box-shadow: 3px 10px 15px 0px rgba(0, 0, 0, 0.5);
}